.App {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.playground {
  width: 100%;
}

.playground canvas {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.control {
  width: 100%;
  height: 30vh;
  display: flex;
}

.control .btn {
  width: 45vw;
  line-height: 35vh;
  text-align: center;
  user-select: none;
  color: white;
  border: 1px solid black;
  margin: auto;
  background-color: blue;
  box-sizing: border-box;
}
.control .btn:active {
  border: 4px solid black;
}

.deadLogo {
  width: 100%;
  line-height: 5em;
  color: white;
  background-color: black;
  text-align: center;
  position: fixed;
}

.score {
  width: 100%;
  position: fixed;
  color: white;
  text-align: center;
  line-height: 5em;
}
